:root {
    --clr-bg-page: #f1f5f9;
    --clr-plank-bg: #d89f71;
    --clr-plank-border: #472101;
    --clr-pivot-bg: #6c767d;
    --clr-btn-danger: #dc3545;
    --width-plank: 600px;

}

#seesaw-plank {
    width: 600px;
    height: 20px;
    background-color: #d89f71;
    position: absolute;
    bottom: 80px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform-origin: 50% 100%;
    transition: transform 0.8s ease-in-out;
    background-image: repeating-linear-gradient(90deg,
            transparent,
            transparent 48px,
            rgba(0, 0, 0, 0.4) 48px,
            rgba(0, 0, 0, 0.4) 50px);
    background-position: center;
}

.seesaw-wrapper {
    position: relative;
    width: var(--width-plank);
    height: 250px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}



.pivot {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid var(--clr-pivot-bg);
    position: absolute;
    bottom: 0;
    left: 260px;
}

body {
    background-color: var(--clr-bg-page);
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px 20px;
    display: flex;
}


.weight-item {
    position: absolute;
    bottom: 20px;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2980b9;
    border-radius: 4px;
    transform: translateX(-50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    user-select: none;
    pointer-events: none;
}

.btn-danger {
    background-color: var(--clr-btn-danger);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.8s;
}

.btn-danger:hover {
    background-color: #c82333;
}

@keyframes dropIn {
    0% {
        transform: translate(-50%, -400px);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

.falling {
    animation: dropIn 0.8s ease-in forwards;
}